@use '../../style/index.scss'as *;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 50em) {
        flex-direction: row-reverse;

    }

    &__main-container {
        display: flex;
        flex-direction: column;
        align-items: center;


        @media screen and (min-width: 50em) {
            flex-direction: row;

        }

        h1 {
            font-size: 3.5rem;
            font-family: $text-font;
            padding: 5rem 0;
            font-weight: 700;
        }
    }

}