.hero {
    width: 100vw;
    height: 75.2vw;
    max-height: 80rem;
    background-image: url('../images/image-hero-mobile.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;


    @media screen and (min-width:50em) {
        background-image: url('../images/image-hero-desktop.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 40vw;
        min-height: calc(100% - 80px);

    }

    @media screen and (min-width:75em) {
        background-position: top center;
        margin-top: 2rem;
    }
}