@use '../style/index.scss'as *;


.navmenu {
    font-family: $text-font;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-start;

    flex-direction: column;
    list-style-type: none;
    position: relative;
    margin-left: 2rem;





    &__menu-item {
        color: $medium-gray-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        margin: 1rem;
        position: relative;





        a {
            text-decoration: none;

            &:visited {
                color: inherit;
            }


        }

        &-summary {
            display: flex;



            &.active {
                color: $medium-gray-color;
                font-weight: 700;

                @media screen and (min-width: 50em) {
                    color: $almost-black-color;
                }


            }
        }

        &-summary:hover,
        &-summary-active {
            color: $medium-gray-color;

            font-weight: 700;

            @media screen and (min-width: 50em) {
                color: $almost-black-color;
            }

        }

        &__arrow-down {
            margin: 2px;
            border: 1px solid violet;


            path {
                stroke: currentColor;

            }
        }



        &__arrow-up {
            margin: 2px;

            path {
                stroke: currentColor;
            }
        }


        img {
            width: 12px;
            height: 8px;
            display: block;
            margin: 2px;

        }


    }

    &-button {
        border: none;
        background-color: transparent;
        margin: 2px;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;


        &__img {
            transform: scale(1.2);
            margin-left: 2px;

            path {
                stroke: currentColor;
            }



        }
    }

}





/* .navmenu-menu-container {

    display: none;

    margin-right: auto;


    @media screen and (min-width: 800px) {
        display: flex;
        flex-direction: row;
    }

    ul {

        display: flex;
        flex-direction: column;
        list-style-type: none;
 


        @media screen and (min-width: 800px) {
            display: flex;
            flex-direction: row;
        }

    }


} */