@use '../style/index.scss'as *;

.sidebar {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);

    &-menu {
        background-color: $almost-white-color;
        display: flex;
        flex-direction: column;
        width: 65vw;
        height: 100vh;

        &__icon-close {
            width: 30px;
            height: 30px;
            align-self: flex-end;
            margin: 2rem;
        }
    }
}