@use '../style/index.scss'as *;

.submenu {

    position: relative;
    padding: 2rem 2rem 2rem 0;
    width: max-content;
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
    align-self: flex-start;
    cursor: auto;
    font-family: $text-font;


    @media screen and (min-width: 50em) {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 2rem;
        position: absolute;
        z-index: 100;
        border-radius: 10px;
        box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.08);
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;



        .submenu-item {

            display: flex;
            margin-left: 10px;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: $medium-gray-color;


            img {
                margin-right: 10px;
                width: 18px;
                height: 18px;
            }
        }
    }
}